*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--space-unit: 1rem;
	--space-xxs:  calc(0.25 * var(--space-unit));
	--space-xs:   calc(0.5 * var(--space-unit));
	--space-sm:   calc(0.75 * var(--space-unit));
	--space-md:   calc(1.25 * var(--space-unit));
	--space-lg:   calc(2 * var(--space-unit));
	--space-xl:   calc(3.25 * var(--space-unit));
	--space-xxl:  calc(5.25 * var(--space-unit));

  --nav-background: hsl(240deg, 50%, 18%);
}

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
	background: linear-gradient(
    var(--nav-background) 0rem 5rem, 
    hsl(300deg, 50%, 20%) 100vh);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  align-items: center;
  color: white;
  height: 5em;
  position: absolute;
}

header .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

i {
  font-size: 1.5em !important;
  color: white;
}

main {
  /* border: 0.5em solid orange; */
}

#home {
  height: 100vh;
  height: 100svh;
  border: 3px solid pink;
}

.moon {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	box-shadow: 1.2rem 1.2rem 0 0 hsl(30deg, 20%, 90%);
	position: absolute;
	top: 120px;
	right: 80px;
}

#cloud {
	width: 350px; height: 120px;
  background: #f2f9fe;
  border-radius: 100px;
  position: absolute;
	z-index: 5;
}

#cloud:after, #cloud:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}

#cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
}

#cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
}

.clouds {
  width: 100%;
  height: 70vh;
	overflow: hidden;
}

.cloud.top {
	position: relative;
	top: 100px;
	left: -340px;
  height: 150px;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: #ccccee;
	animation: cloud-top 14s ease-in 0s infinite;
}

.cloud.bottom {
	position: relative;
	top: 140px;
	right: -100vw;
  height: 180px;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: #ddddff;
	animation: cloud-bottom 18s ease-in 4s infinite;
}

@keyframes cloud-top {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(100vw + 400px));
	}
}

@keyframes cloud-bottom {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-400px - 100vw));
	}
}

.bottom-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: calc(100%);
  background-color: black;
  color: white;
}

.hero {
  font-size: 14.59vw;
  line-height: 90%;
  padding: var(--space-md);
  text-transform: uppercase;
}

#home .summary {
  padding: 0 var(--space-md) var(--space-sm);
  border: 1px solid black;
	color: #dddddd;
}

.divider {
  height: 2em;
  background: repeating-linear-gradient(
    90deg,
    red 0 1em,
    orange 1em 2em,
    yellow 2em 3em,
    green 3em 4em,
    blue 4em 5em,
    purple 5em 6em
  );
}

section:not(#home) {
	padding: var(--space-md);
}

#work {
  background-color: hsl(300deg, 50%, 20%);
  color: #eeeeee;
  border: 2px solid red;
}

#other-pursuits {
	background-color: hsl(300deg, 50%, 20%);
  border: 2px solid blue;
}

h2, h3 {
	color: white;
  border: 2px solid green;
}

p {
	color: #dddddd;
}

@media screen and (min-width: 992px) {
  .hero {
    font-size: 8.3vw;
    text-align: center;
  }

  #home .summary {
    text-align: center;
  }
}
