*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-background: black;
}

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

header {
  border: 0.5em solid lightblue;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--nav-background);
  width: 100%;
  align-items: center;
  color: white;
  height: 5em;
}

header .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

i {
  font-size: 1.5em !important;
  color: white;
}

main {
  border: 0.5em solid orange;
}

#home {
  height: calc(100vh - 5.5em);
}

#home .top-panel {
  background-image: url("/assets/profile-photo.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
}

#home img {
  /* clip-path: circle(); */
  margin: 0 auto;
  display: block;
  filter: grayscale(100%);
}

.cloud.top {
	position: absolute;
	top: 120px;
	left: -400px;
  height: 180px;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: #ddddff;
	animation: cloud-top 10s ease-in 0s infinite;
}

.cloud.bottom {
	position: absolute;
	top: 320px;
	right: -400px;
  height: 180px;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%, var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: #ddddff;
	animation: cloud-bottom 14s ease-in 4s infinite;
}

@keyframes cloud-top {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(100vw + 400px));
	}
}

@keyframes cloud-bottom {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-400px - 100vw));
	}
}

#home .bottom-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: calc(100% - 1em);
  background-color: black;
  color: white;
}

.hero {
  font-size: 15vw /* 4.2rem */;
  line-height: 90%;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid black;
}

#home .summary {
  padding: 1em;
  border: 1px solid black;
}

.divider {
  height: 2em;
  background: repeating-linear-gradient(
    90deg,
    red 0 1em,
    orange 1em 2em,
    yellow 2em 3em,
    green 3em 4em,
    blue 4em 5em,
    purple 5em 6em
  );
}

#work {
  background-color: #222222;
  color: #eeeeee;
}

@media screen and (min-width: 992px) {
  .hero {
    font-size: 8.36vw;
    text-align: center;
  }

  #home .summary {
    text-align: center;
  }
}
